package main

templ Homepage(name string) {
	@Layout(name) {
		<h2>Form</h2>
		<form hx-post="/handle-form" hx-target="#form-result">
			<label for="url">URL</label>
			<input type="text" name="url" />
			<button>Submit me!</button>
		</form>

		<div id="form-result" />
	}
}